header {
  background:#b7aada;position:fixed;left:0;right:0;width:20%;
  text-align: center;
  size: 15px;
  color: #4522a5;
}
html {
  font-size: 15px;
}
h1 {
  font-size: 45px;
  color: #b3b0bd;
  text-shadow: 10px 15px 15px black ;
  background:#9c8bcc;position:fixed;left:0;right:0;height:8%; width:20%;
}
body {
  background-color: #ffffff;
    border: 0px solid black;
}
ti{
  margin:0 auto;text-align:center;
  width: 50%;
} 
.sidebar{
	width:175px;
	border-color: blue;
  position: fixed;left: 0;right: 0;width: 20%;
}
.tab{
	font-size:12px;
	height:27px;
	width:175px;
	background: #eeeeee;
	line-height: 27px; /*把line-height高度设置和height一样就可以让字体垂直居中*/
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #efefef;
	border-radius:2px 2px 0px 0px;
}

.navto-nav{
	font-size:12px;
	height:45px;
	width:175px;
	background: #fbfbfb;
	line-height: 45px; /*把line-height高度设置和height一样就可以让字体垂直居中*/
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #efefef;
}


article {
  background-color: rgb(49, 197, 197);position:fixed;left:30%;right:0;width:40%;
}
